<main>
    <h3>Add A Benchmark</h3>   

    <form id="add-benchmark-form" class="add-benchmark-section">
        <label class="add-benchmark-p">Boulder Grade (on V scale)</label>
        <input id="boulder-grade" class="signin-input boulder-grade input-lrg" type="text" name="boulder-grade" />

        <label class="add-benchmark-p">Route Grade</label>
        <input id="route-grade" class="signin-input route-grade input-lrg" type="text" name="route-grade" />

        <button type="submit" id="benchmark" class="benchmark-btn save-btn"><i class="fas fa-bookmark save-icon"></i>SAVE BENCHMARK</button>
    </form>
</main>
<script src="/js/add-benchmark.js"></script>

