    {{!-- <header>
        <img src="../images/rockfit-header.png" alt="Top border">
    </header> --}}
<div class="login-window">
    <main class="signup-main">
        <h1>ROCK<em class="fit">fit</em></h1>
        <!--added acton-->
        <form class="signup-form">
            <h4>Sign Up</h4>
            <div>
                <label for="email-signup"></label>
                <input type="text" placeholder="email" class="signin-input input-lrg" id="email-signup" />
            </div>
            <div>
                <label for="username-signup"></label>
                <input type="text" placeholder="username" class="signin-input input-lrg" id="username-signup" />
            </div>
            <div>
                <label for="password-signup"></label>
                <input type="password" placeholder="password" class="signin-input input-lrg" id="password-signup" />
            </div>
            <div>
                <button type="submit" id="signup" class="login-btn">Sign In</button>
            </div>
            <a href="/login" class="login-instead">Login Instead</a>
        </form>
    </main>
</div>

    {{!-- <footer>
        <img src="../images/rockfit-footer.png" alt="Bottom border">
    </footer> --}}
    <script src="/js/signup.js"></script>
