<main>
    <h3>Update Benchmark</h3>   

    <form id="update-benchmark-form" class="add-benchmark-section">
        <label class="add-benchmark-p">Boulder Grade (on V scale)</label>
        <input id="boulder-grade" class="signin-input boulder-grade input-lrg" type="text" name="boulder-grade" value="{{benchmark.boulder_grade}}" />

        <label class="add-benchmark-p">Route Grade</label>
        <input id="route-grade" class="signin-input route-grade input-lrg" type="text" name="route-grade" value="{{benchmark.route_grade}}"/>

        <button type="submit" id="benchmark" class="benchmark-btn save-btn" ><i class="fas fa-bookmark save-icon"></i>UPDATE BENCHMARK</button>
    </form>
    <script src="/js/update-benchmark.js"></script>
</main>